* {
  box-sizing: border-box;
  font-size: 1em;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: black;
}

header {
  width: 100%;
  height: 5%;
  color: white;
  background-color: rgba(192, 192, 192, 0.089);
  border-bottom: 2px rgba(192, 192, 192, 0.5) solid;
  font-size: 1em;
  text-align: center;
}

.stars {
  flex: 0.8;
  height: fit-content;
  color: darkgray;
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
  height: 100%;
}

.container {
  display: grid;
  grid-auto-rows: max-content;
  grid-auto-columns: 100%;
  grid-gap: 0.8em;
  margin: 10px;
  justify-content: center;
  opacity: 1;
}

h2 {
  color: white;
  margin: 0px;
  text-align: left;
}

p {
  margin: 0px;
  padding: 5px;
}

button {
  min-height: 4em;
  width: 100%;
  background-color: transparent;
  border: 4px solid rgba(192, 192, 192, 0.5);
  color: white;
  background-color: rgba(192, 192, 192, 0.089);
  font-size: 1em;
  text-align: center;
  border-radius: 10px;
  padding: 1px;
}

.question-block-form {
  display: grid;
  justify-items: center;
  grid-row-gap: 0.4em;
  grid-template-rows: repeat(auto, 10%);
  height: 100%;
}

fieldset {
  display: grid;
  justify-items: center;
  grid-row-gap: 0.4em;
  height: 100%;
  border: none;
  padding: 0px;
}

.question-text {
  text-align: justify;
  height: auto;
  width: 100%;
  margin: 0px;
  font-size: 1.5em;
  color: white;
  padding: 10px;
}

.example-code-block,
.incorrect,
.correct {
  width: 80%;
  height: auto;
  margin: 5px;
  justify-content: center;
  font-size: 1em;
}

.incorrect {
  border: 2px red solid;
  color: white;
  padding: 10px;
  width: 100%;
}

.correct {
  border: 2px green solid;
  color: white;
  padding: 10px;
  width: 100%;
}

a {
  color: white;
  width: 100%;
}

.answer-choice {
  min-height: 4em;
  width: 100%;
  background-color: transparent;
  border: 4px solid rgb(49, 49, 77);
  color: white;
  background-color: rgba(7, 7, 41, 0.513);
  font-size: 0.8em;
  text-align: justify;
  border-radius: 10px;
  padding: 1px;
}

.instructions {
  width: 100%;
  color: white;
  margin: 5px;
  justify-content: center;
  font-size: 1em;
}

.next-button {
  min-height: 4em;
  width: 100%;
  background-color: green;
  font-size: 0.8em;
  text-align: justify;
  border-radius: 10px;
  padding: 1px;
  border: 4px solid rgb(49, 49, 77);
  color: white;
  text-align: center;
  font-weight: bold;
}

.submit-button {
  min-height: 4em;
  width: 100%;
  background-color: green;
  color: white;
  font-size: 0.8em;
  border: 4px solid rgb(49, 49, 77);
  border-radius: 10px;
}

.jquery-quiz-selector:hover,
.jquery-quiz-selector:active {
  border: 3px solid green;
  font-size: 1.1em;
  font-weight: bolder;
}

.javascript-quiz-selector:disabled {
  opacity: 0.3;
}

.css-quiz-selector:disabled {
  opacity: 0.3;
}

.html-quiz-selector:disabled {
  opacity: 0.3;
}

@media only screen and (min-width: 375px) {
  .quiz-selection {
    text-align: center;
  }

  .question-block-form {
    grid-row-gap: 0.4em;
  }

  .question-text {
    font-size: 1.5em;
  }

  .example-code-block,
  .incorrect,
  .correct {
    font-size: 1.2em;
  }

  .answer-choice {
    font-size: 1em;
    padding: 5px;
  }
  .next-button {
    font-size: 1em;
  }

  .submit-button {
    font-size: 1em;
  }
}

@media only screen and (min-width: 700px) {
  header {
    height: 5%;
  }

  .quiz-selector-title {
    font-size: 2em;
  }

  .quiz-selection {
    font-size: 1.8em;
    text-align: center;
  }

  .jquery-quiz-selector,
  .javascript-quiz-selector,
  .css-quiz-selector,
  .html-quiz-selector {
    font-size: 1.8em;
  }

  .jquery-quiz-selector:hover,
  .jquery-quiz-selector:active {
    border: 3px solid green;
    font-size: 1.8em;
    font-weight: bolder;
  }

  .stars {
    font-size: 1.5em;
    padding: 10px;
  }

  .container {
    flex: 0.85;
  }

  .question-block-form {
    grid-row-gap: 0.7em;
  }

  .question-text {
    font-size: 2.5em;
  }

  .example-code-block,
  .incorrect,
  .correct {
    width: 100%;
    font-size: 1.7em;
  }

  .answer-choice {
    font-size: 1.7em;
  }

  .next-button {
    font-size: 1.7em;
  }

  .submit-button {
    font-size: 1.7em;
  }
}

@media only screen and (min-width: 1000px) {
  header {
    height: 10%;
  }

  .quiz-selector-title {
    font-size: 2.5em;
  }

  .jquery-quiz-selector,
  .javascript-quiz-selector,
  .css-quiz-selector,
  .html-quiz-selector {
    font-size: 2em;
  }

  .jquery-quiz-selector:hover,
  .jquery-quiz-selector:active {
    border: 3px solid green;
    font-size: 2em;
    font-weight: bolder;
  }

  .stars {
    font-size: 2em;
    padding: 20px;
  }

  .container {
    flex: 0.7;
  }

  .question-block-form {
    grid-row-gap: 0.5em;
  }

  .quiz-selection {
    font-size: 2em;
  }

  p {
    font-size: 1.7em;
  }

  .question-text {
    font-size: 2em;
  }

  .example-code-block,
  .incorrect,
  .correct {
    width: 100%;
    font-size: 1.5em;
  }

  .answer-choice {
    font-size: 1.5em;
    padding: 5px;
  }

  .next-button {
    font-size: 1.5em;
  }

  .submit-button {
    font-size: 1.5em;
  }

  footer {
    height: 10%;
  }
}

@media only screen and (min-width: 1500px) {
  .container {
    flex: 0.5;
  }
}
