* {
  box-sizing: border-box;
  font-size: 1em;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  background-color: black;
  color: white;
}

header {
  width: 100%;
  height: 15%;
  color: white;
  background-color: rgba(192, 192, 192, 0.089);
  border-bottom: 2px rgba(192, 192, 192, 0.5) solid;
  font-size: 0.6em;
  text-align: center;
}

.question-header {
  display: flex;
  flex-direction: row;
}

.stars {
  flex: 0.7;
  height: fit-content;
  color: darkgray;
  text-align: center;
}

.progress {
  flex: .1;
  height: fit-content;
}

.score {
  flex: .1;
  height: fit-content;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

button {
  min-height: 4em;
  width: 100%;
  background-color: transparent;
  border: 4px solid rgba(192, 192, 192, 0.5);
  color: white;
  background-color: rgba(192, 192, 192, 0.089);
  font-size: 1em;
  text-align: center;
  border-radius: 10px;
  padding: 1px;
  margin-top: 3px;
}

.question-block-form {
  height: 100%;
}

fieldset {
  height: 100%;
  border: none;
  padding: 0px;
}

.question-text {
  text-align: left;
  height: auto;
  width: 100%;
  font-size: 1em;
  color: white;
  padding: 10px;
}

.example-code-block {
  width: 80%;
  height: auto;
  margin: 5px;
  justify-content: center;
  font-size: 1em;
}

.incorrect {
  border: 2px red solid;
  color: white;
  padding: 5px;
  width: 100%;
}

.correct {
  border: 2px green solid;
  color: white;
  padding: 5px;
  width: 100%;
}

.feedback a {
  color: white;
}


.answer-choice {
  min-height: 4em;
  width: 100%;
  border: 4px solid rgb(49, 49, 77);
  color: white;
  background-color: rgba(7, 7, 41, 0.513);
  font-size: 0.8em;
  text-align: justify;
  border-radius: 10px;
  padding: 10px;
}

.selected {
  border: 4px solid rgb(14, 1, 199);
  font-size: 1em;
  font-weight: bold;
  background-color: rgb(4, 0, 53);
}

.instructions {
  width: 100%;
  color: white;
  margin: 5px;
  justify-content: center;
  font-size: 1em;
}

.next-button {
  min-height: 4em;
  width: 100%;
  background-color: green;
  font-size: 0.8em;
  text-align: justify;
  border-radius: 10px;
  padding: 1px;
  border: 4px solid rgb(49, 49, 77);
  color: white;
  text-align: center;
  font-weight: bold;
}

.check-answer:disabled {
  background: grey;
  opacity: .3;
}


.check-answer {
  min-height: 4em;
  width: 100%;
  background-color: transparent;
  border: 4px solid rgb(14, 1, 199);
  color: white;
  background-color: rgba(192, 192, 192, 0.089);
  font-size: 1em;
  text-align: center;
  border-radius: 10px;
  padding: 1px;
  font-weight: bolder;
} 

.jquery-quiz-selector:hover,
.jquery-quiz-selector:active {
  border: 3px solid green;
  font-size: 1.1em;
  font-weight: bolder;
}

.javascript-quiz-selector:disabled {
  opacity: 0.3;
}

.css-quiz-selector:disabled {
  opacity: 0.3;
}

.html-quiz-selector:disabled {
  opacity: 0.3;
}

@media only screen and (min-width: 375px) {
  .quiz-selection {
    text-align: center;
  }

  .question-text {
    font-size: 1.5em;
  }

  .example-code-block,
  .incorrect,
  .correct {
    font-size: 1.2em;
  }

  .answer-choice {
    font-size: 1em;
    padding: 10px;
  }
  .next-button {
    font-size: 1em;
  }

  .check-answer {
    font-size: 1em;
  }
}

@media only screen and (min-width: 700px) {
  header {
    height: 5%;
    font-size: 1em;
  }

  .quiz-selector-title {
    font-size: 2em;
  }

  .quiz-selection {
    font-size: 1.8em;
    text-align: center;
  }

  .instructions {
    font-size: 1.5em;
  }

  .container {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }

  .jquery-quiz-selector,
  .javascript-quiz-selector,
  .css-quiz-selector,
  .html-quiz-selector {
    font-size: 1.8em;
  }

  .jquery-quiz-selector:hover,
  .jquery-quiz-selector:active {
    border: 3px solid green;
    font-size: 1.8em;
    font-weight: bolder;
  }

  .stars, .score, .progress {
    font-size: 1.5em;
    padding: 10px;
  }

  .question-text {
    font-size: 2.5em;
  }

  .example-code-block,
  .incorrect,
  .correct {
    width: 100%;
    font-size: 1.7em;
  }

  .answer-choice {
    font-size: 1.7em;
    padding: 10px;
  }

  .next-button {
    font-size: 1.7em;
  }

  .check-answer {
    font-size: 1.7em;
  }
}

@media only screen and (min-width: 1000px) {
  header {
    height: 10%;
  }

  .quiz-selector-title {
    font-size: 2.5em;
  }

  .jquery-quiz-selector,
  .javascript-quiz-selector,
  .css-quiz-selector,
  .html-quiz-selector {
    font-size: 2em;
  }

  .jquery-quiz-selector:hover,
  .jquery-quiz-selector:active {
    border: 3px solid green;
    font-size: 2em;
    font-weight: bolder;
  }

  .stars, .score, .progress {
    font-size: 2em;
    padding: 20px;
  }

  .quiz-selection {
    font-size: 2em;
  }

  .question-text {
    font-size: 2em;
  }

  .example-code-block,
  .incorrect,
  .correct {
    width: 100%;
    font-size: 1.5em;
  }

  .answer-choice {
    font-size: 1.5em;
    padding: 15px;
  }

  .next-button {
    font-size: 1.5em;
  }

  .check-answer {
    font-size: 1.5em;
  }

  footer {
    height: 10%;
  }
}

@media only screen and (min-width: 1500px) {
 
}
