* {
  box-sizing: border-box;
  font-size: 1em;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: black;
}

header {
  width: 100%;
  height: 5%;
  color: white;
  background-color: rgba(192, 192, 192, 0.089);
  border-bottom: 2px rgba(192, 192, 192, 0.5) solid;
  font-size: 1em;
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
  height: 100%;
}

.container {
  display: grid;
  grid-auto-rows: max-content;
  grid-auto-columns: 100%;
  grid-gap: 0.8em;
  margin: 25px;
  justify-content: center;
  opacity: 1;
}

h2 {
  color: white;
  margin: 0px;
  text-align: center;
}

.quiz-selection {
  height: fit-content;
}

p {
  margin: 0px;
  padding: 5px;
}

.instructions {
  width: 100%;
  color: white;
  margin: 5px;
  justify-content: center;
  font-size: 1em;
}

button {
  min-height: 4em;
  width: 100%;
  background-color: transparent;
  border: 4px solid rgba(192, 192, 192, 0.5);
  color: white;
  background-color: rgba(192, 192, 192, 0.089);
  font-size: 1em;
  text-align: center;
  border-radius: 10px;
  padding: 1px;
}

.jquery-quiz-selector:hover,
.jquery-quiz-selector:active {
  border: 3px solid green;
  font-size: 1.1em;
  font-weight: bolder;
}

.javascript-quiz-selector:disabled {
  opacity: 0.3;
}

.css-quiz-selector:disabled {
  opacity: 0.3;
}

.html-quiz-selector:disabled {
  opacity: 0.3;
}

@media only screen and (min-width: 375px) {
  .question-block-form {
    grid-row-gap: 0.4em;
  }

  .question-text {
    font-size: 1.5em;
  }

  .example-code-block {
    font-size: 1.2em;
  }

  .answer-choice {
    font-size: 1em;
    padding: 5px;
  }

  .submit-button {
    font-size: 1em;
  }
}

@media only screen and (min-width: 700px) {
  header {
    height: 2%;
  }

  .container {
    flex: 0.85;
  }

  .question-block-form {
    grid-row-gap: 0.7em;
  }

  .question-text {
    font-size: 2.5em;
  }

  .example-code-block {
    width: 95%;
    font-size: 1.7em;
  }

  .answer-choice {
    font-size: 1.7em;
  }

  .submit-button {
    font-size: 1.7em;
  }
}

@media only screen and (min-width: 1000px) {
  header {
    height: 10%;
    font-size: 2.5em;
  }

  .container {
    flex: 0.5;
  }
  .quiz-selection {
    font-size: 2em;
  }

  p {
    font-size: 1.7em;
  }

  button {
    font-size: 1.7em;
    padding: 5px;
  }

  .jquery-quiz-selector:hover,
  .jquery-quiz-selector:active {
    border: 3px solid green;
    font-size: 1.7em;
    font-weight: bolder;
    background-color: transparent rgba(192, 192, 192, 0.705);
  }

  footer {
    width: 100%;
    height: 10%;
    color: white;
    background-color: rgba(192, 192, 192, 0.089);
    border-top: 2px rgba(192, 192, 192, 0.5) solid;
    font-size: 1em;
    text-align: center;
  }

  .footer-text {
    font-size: 1em;
    padding: 2px;
    text-align: center;
    line-height: 1.5em;
  }
}
