* {
  box-sizing: border-box;
  font-size: 1em;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: black;
}

header {
  width: 100%;
  height: 5%;
  color: white;
  background-color: rgba(192, 192, 192, 0.089);
  border-bottom: 2px rgba(192, 192, 192, 0.5) solid;
  font-size: 1em;
  text-align: center;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: max-content;
  overflow: hidden;
}

.stars {
  flex: 0.8;
  height: fit-content;
  color: darkgray;
  text-align: center;
}

.right-content {
  flex: 0.1;
}

main {
  display: flex;
  justify-content: center;
  height: 100%;
}

.container {
  flex: 1;
  display: flex;
  margin-top: 25px;
  justify-content: center;
  height: 85%;
}

.question-block-form {
  display: grid;
  justify-items: center;
  grid-row-gap: 0.4em;
  grid-template-rows: repeat(auto, 10%);
}

.question-text {
  text-align: justify;
  height: auto;
  width: 100%;
  margin: 0px;
  font-size: 1.5em;
  color: white;
  padding: 10px;
}

.example-code-block,
.incorrect,
.correct {
  width: 80%;
  height: auto;
  margin: 5px;
  justify-content: center;
  font-size: 1em;
}

.incorrect {
  border: 2px red solid;
  color: white;
  padding: 10px;
  width: 100%;
}

.correct {
  border: 2px green solid;
  color: white;
  padding: 10px;
  width: 100%;
}

a {
  color: white;
  width: 100%;
}

.answer-choice {
  min-height: 4em;
  width: 100%;
  background-color: transparent;
  border: 4px solid rgb(49, 49, 77);
  color: white;
  background-color: rgba(7, 7, 41, 0.513);
  font-size: 0.8em;
  text-align: justify;
  border-radius: 10px;
  padding: 1px;
}

.next-button {
  min-height: 4em;
  width: 100%;
  background-color: green;
  font-size: 0.8em;
  text-align: justify;
  border-radius: 10px;
  padding: 1px;
  border: 4px solid rgb(49, 49, 77);
  color: white;
  text-align: center;
  font-weight: bold;
}

.submit-button {
  min-height: 4em;
  width: 100%;
  background-color: green;
  color: white;
  font-size: 0.8em;
  border: 4px solid rgb(49, 49, 77);
  border-radius: 10px;
}

@media only screen and (min-width: 375px) {
  .question-block-form {
    grid-row-gap: 0.4em;
  }

  .question-text {
    font-size: 1.5em;
  }

  .example-code-block,
  .incorrect,
  .correct {
    font-size: 1.2em;
  }

  .answer-choice {
    font-size: 1em;
    padding: 5px;
  }
  .next-button {
    font-size: 1em;
  }

  .submit-button {
    font-size: 1em;
  }
}

@media only screen and (min-width: 700px) {
  header {
    height: 5%;
  }

  .stars {
    font-size: 1.5em;
    padding: 10px;
  }

  .container {
    flex: 0.85;
  }

  .question-block-form {
    grid-row-gap: 0.7em;
  }

  .question-text {
    font-size: 2.5em;
  }

  .example-code-block,
  .incorrect,
  .correct {
    width: 100%;
    font-size: 1.7em;
  }

  .answer-choice {
    font-size: 1.7em;
  }

  .next-button {
    font-size: 1.7em;
  }


  .submit-button {
    font-size: 1.7em;
  }
}

@media only screen and (min-width: 1000px) {
  header {
    height: 10%;
  }

  .stars {
    font-size: 2em;
    padding: 20px;
  }

  .container {
    flex: 0.8;
  }

  .question-block-form {
    grid-row-gap: 0.5em;
  }

  .question-text {
    font-size: 2em;
  }

  .example-code-block,
  .incorrect,
  .correct {
    width: 100%;
    font-size: 1.5em;
  }

  .answer-choice {
    font-size: 1.5em;
    padding: 5px;
  }

  .next-button {
    font-size: 1.5em;
  }


  .submit-button {
    font-size: 1.5em;
  }

  footer {
    height: 10%;
  }
}

@media only screen and (min-width: 1500px) {
  .container {
    flex: 0.5;
  }
}
